@charset "UTF-8";
@media (min-width: 910px) {
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  .for-tablet {
    display: none;
  }
  .for-mobil {
    display: none;
  }
  h2 {
    display: flex;
    justify-content: center;
  }
  header {
    background-color: #374f92;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  .logo-img {
    max-width: 50px;
    max-height: 35px;
    border-radius: 50%;
  }
  header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  header nav ul li {
    display: inline;
  }
  header nav ul li a {
    color: white;
    text-decoration: none;
  }
  /*main*/
  .container1 {
    margin: 20px 1rem 20px 1rem;
  }
  .container {
    width: 80%;
    margin: 20px auto;
  }
  .main-pc {
    display: flex;
    align-items: center;
    background-color: #b2ebf2; /* Fondo azul más oscuro */
    padding: 10px;
    border-radius: 10px;
  }
  .user-image {
    width: 320px;
    height: 320px;
    background-color: #cfcfcf;
    border-radius: 50%;
  }
  .user-info {
    width: 100%;
    margin-left: 20px;
    background-color: #a89d9e;
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 10px;
  }
  .buttons-add {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .add-product {
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .add-product:hover {
    background-color: #ff3131;
  }
  .product-list {
    margin-top: 20px;
  }
  .product-item {
    display: flex;
    background-color: #b2ebf2; /* Fondo azul claro */
    padding: 10px;
    border: 2px solid #29b6f6; /* Borde azul brillante */
    margin-bottom: 10px;
    border-radius: 10px;
  }
  .product-image {
    margin-right: 20px;
    border-radius: 25%;
  }
  .descripcion {
    width: 75%;
    display: flex;
    flex-direction: column;
  }
  .title {
    display: flex;
    justify-content: center;
  }
  .product-info {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #a89d9e;
    padding: 20px;
    border-radius: 10px;
  }
  /*footer*/
  .footer {
    position: sticky-button;
    width: 100%;
    padding-top: 10%;
    background-color: #8c8c8c;
    padding: 10px 0;
    text-align: center;
    border-top: 2px solid #a1a1a1;
  }
  .footer-nav {
    margin-bottom: 10px;
  }
  .footer-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .footer-menu-item {
    display: inline;
  }
  .footer-link {
    text-decoration: none;
    color: #2c2c2c;
    font-size: 14px;
  }
  .footer-icons {
    margin-top: 10px;
  }
  .icon {
    font-size: 24px;
    color: #2c2c2c;
    margin: 0 10px;
  }
}
@media only screen and (max-width: 909px) and (min-width: 601px) {
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  .for-pc {
    display: none;
  }
  .for-mobil {
    display: none;
  }
  h2 {
    display: flex;
    justify-content: center;
  }
  header {
    background-color: #374f92;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  .logo-img {
    max-width: 50px;
    max-height: 35px;
    border-radius: 50%;
  }
  header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  header nav ul li {
    display: inline;
  }
  header nav ul li a {
    color: white;
    text-decoration: none;
  }
  /*main*/
  .container1 {
    margin: 20px 1rem 20px 1rem;
  }
  .container {
    width: 80%;
    margin: 20px auto;
  }
  .main-pc {
    display: flex;
    align-items: center;
    background-color: #b2ebf2; /* Fondo azul más oscuro */
    padding: 10px;
    border-radius: 10px;
  }
  .user-image {
    width: 320px;
    height: 320px;
    background-color: #cfcfcf;
    border-radius: 50%;
  }
  .user-info {
    width: 100%;
    margin-left: 20px;
    background-color: #a89d9e;
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 10px;
  }
  .buttons-add {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .add-product {
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .add-product:hover {
    background-color: #333;
  }
  .history {
    border: solid 1px;
  }
  .title {
    display: flex;
    justify-content: center;
  }
  .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d4ebeb;
    padding: 1%;
    margin: 1%;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  .card-content h2 {
    margin: 0;
    font-size: 1.5em;
  }
  .card-content p {
    margin: 5px 0 0;
    color: #555;
  }
  h2 {
    display: flex;
    justify-content: center;
  }
  img {
    border-radius: 15%;
    width: 50%;
  }
  .footer {
    background-color: #4a4a4a;
    padding: 10px;
  }
  .footer-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .footer-list li {
    background-color: #5c5c5c;
    padding: 15px;
    margin: 5px 0;
    text-align: center;
    color: #ffffff;
    border: 1px solid #3a3a3a;
    border-radius: 4px;
  }
}
@media only screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    display: flex;
    flex-direction: column;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  .for-tablet {
    display: none;
  }
  .for-pc {
    display: none;
  }
  header {
    width: 100%;
    max-width: 100%;
    height: 2rem;
    overflow-x: auto;
    background-color: #374f92;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0 2%;
  }
  .logo {
    display: flex;
    justify-content: center;
  }
  .logo-img {
    margin-left: 1rem;
    max-width: 50px;
    max-height: 35px;
    border-radius: 50%;
  }
  header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0 1rem 0 0;
    display: flex;
    gap: 20px;
  }
  header nav ul li {
    display: inline;
  }
  header nav ul li a {
    color: white;
    text-decoration: none;
  }
  .user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c9d5da;
    padding: 15%;
    border-radius: 10px;
  }
  .user-image img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  .user-details {
    display: flex;
    margin: 1rem;
  }
  .user-details h3 {
    align-content: center;
    margin: 0;
    font-size: 1.2rem;
    color: #002e66;
  }
  .user-details p {
    font-size: 0.9rem;
    color: #666;
  }
  button {
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-left: auto;
  }
  button:hover {
    background-color: #ff3131;
  }
  .history {
    border: solid 1px;
  }
  .title {
    display: flex;
    justify-content: center;
  }
  .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d4ebeb;
    padding: 1%;
    margin: 1%;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  .card-content h2 {
    margin: 0;
    font-size: 1.5em;
  }
  .card-content p {
    margin: 5px 0 0;
    color: #555;
  }
  h2 {
    display: flex;
    justify-content: center;
  }
  img {
    border-radius: 15%;
    width: 50%;
  }
  .footer {
    background-color: #4a4a4a;
    padding: 10px;
  }
  .footer-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .footer-list li {
    background-color: #5c5c5c;
    padding: 15px;
    margin: 5px 0;
    text-align: center;
    color: #ffffff;
    border: 1px solid #3a3a3a;
    border-radius: 4px;
  }
}

/*# sourceMappingURL=perfil.css.map */
